
.container{
    padding: 2%;
}

.alert-info{
    color: #31708f;
    background-color: #bce8f1;
    border-color: transparent;
    text-align: center;
}


.imagens-galeria{
    height: 350px;
    width: 350px;
    padding: 5%;
}
